@use '../../mixins/main';

.widget{
    margin-right: 20px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    @include main.boxshadow;
    padding: 10px;
    height: 100px;
    flex-direction: column;
    @media (max-width: 900px) {
        width: 80vw;
        margin-bottom: 20px;
}
    &:first-child{
        color: white;
        background-image: linear-gradient(to bottom right,rgba(46,82,176)65%, rgb(46,82,165) 35%);
       .percentage{
        &.positive, &.negative{
            color: white!important;
        }
       }

    }
    .basetag{
        width: 100%;
        justify-content: center;
        position: relative;

        .baselink{
            font-size: 12px;
            border-bottom: 1px solid gray;
        }
        
        
       
    }
    .widIcon{
        font-size: clamp(14px, 30px, 34px);
        padding: 5px!important;
        border-radius: 5px!important;
        align-self: center;
        color: white;
        
    }
    .left, .right{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
       
        .title{
            font-weight: bold;
            font-size: 14px;
            color: silver;
        }

        .counter{
            font-size: 28px;
            font-weight: 300;
            align-self: flex-end;
        }
        .percentage{
            display: flex;
            font-size: 14px;
            align-items: center;
            gap: 5px;

            &.positive{
                color: green;
            }
            &.negative{
                color: red;
            }
        }
    }

    
}