@use '../../mixins/main';


.investments {
    flex: 1;
    @include main.boxshadow;
    padding: 15px;
    padding-left: 35px;
    height: auto;
    max-width: 30vw !important;
    align-items: flex-end;
    justify-content: center;

    .top {
        @include main.hflex;
        justify-content: space-between;
        align-items: center;
        color: main.$primary;
    }

    .bottom {
        padding: 20px;
        @include main.vflex;
        align-items: center;
        justify-content: center;
        gap: 15px;

        .investChart {
            width: 150px;
            height: 150px;
        }

        .title {
            font-weight: 500;
            color: gray;
        }

        .amount {
            font-size: 30px;
        }

        .desc {
            font-weight: 300;
            font-size: 14px;
            color: gray;
            text-align: center;
        }

        .summary {
            display: flex !important;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .item {
                text-align: center;

                .itemTitle {
                    font-size: 14px;
                    color: gray;
                }

                .itemResult {
                    display: flex;
                    align-items: center;
                    margin-top: 10px;
                    font-size: 14px;


                    &.thismonth {
                        color: #00C49Fff;
                    }

                    &.lastmonth {
                        color: #00C49Fff;
                    }

                }
            }

        }
    }
}