@use '../../mixins/main';


.investments{
    flex: 1;
    @include main.boxshadow;
    padding: 15px;
    padding-left: 35px;
    height: auto;
    max-width: 30vw!important;
    align-items: flex-end;
    justify-content: center;
    

    .invs{
        margin-top: 40px;
        margin-bottom: 40px;
        
        .content{
            @include main.hflex;
            margin: 20px 0px;
            align-items: center;
            .avatar{
                margin-right: 20px;
            }
            .text{
                font-size: 15px;
                .small{
                    color: rgb(169, 210, 248);
                    font-size: 13px;
                }
            }
        }
    }
    .total{
        @include main.vflex;
        align-self: flex-end;
        
       
        .title{
            @include main.hflex;
            align-items: center;
            justify-content: flex-start;
        }
        .sum{
            color: main.$warning;
            font-weight: bold;
            margin-left: 10px;
        }
    }
}